# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.wrangler
.output

# Environment variables
.env
.env.local
.dev.vars

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Misc
.cache
*.tsbuildinfo
